@using Oblak.Models.Api;
@using Oblak.Models.rb90;
@{
    ViewBag.Title = "Smještajni objekti";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";

}

<script type="text/javascript">
    $(document).ready(function () {

    });

</script>

<div>
    <div style="display: inline-block; margin-right: 35px; margin-left:20px; margin-top:10px; text-align:center;">
        @(Html.Kendo().Button().Name("btnLoadObjects")
            .Content("<img style='width:52px;height:52px;text-align:center; position:relative; top:-3px;' src='/Content/Icons/real_estate.png'></img>")
            .HtmlAttributes(new { style = "width:80px; height:80px; border-radius:50%;" })
            )
        <div style="display:inline-block; text-align: left; margin-left:10px;"><b>Preuzmi prijavljene smještajne<br />objekte iz MUP-a</b></div>
    </div>
</div>

<div style="position:absolute; top:130px; bottom: 15px; left: 15px; right:15px;">
    @(Html.Kendo().Grid<MnePersonEnrichedDto>()
        .Name("mnePersonGrid")
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ");
                command.Destroy().Text(" ");
            }).Width(50);
            columns.Group(group => group
            .Title("MUP")
            .HeaderHtmlAttributes(new { style = "text-align: center;" })
            .Columns(col =>
            {
                col.Bound(g => g.FullName).Title("ID").Width(100);
                col.Bound(g => g.FullName).Title("Reg. broj").Width(100);
                col.Bound(g => g.PropertyName).Title("Rješenje ističe").Width(100);
                col.Bound(g => g.PersonType).Title("Naziv").Width(100);
            })
            );

            columns.Group(group => group
            .Title("Osnovni podaci")
            .HeaderHtmlAttributes(new { style = "text-align: center;" })
            .Columns(col =>
            {
                col.Bound(g => g.VisaType).Title("Naziv objekta").Width(100);
                col.Bound(g => g.VisaNumber).Title("Adresa").Width(100);
                col.Bound(g => g.VisaValidTo).Title("Vrsta").Width(100);
                col.Bound(g => g.VisaNumber).Title("Šifra").Width(100);
                col.Bound(g => g.VisaNumber).Title("Opština").Width(100);
            })
            );

            columns.Group(group => group
            .Title("Izdavanje")
            .HeaderHtmlAttributes(new { style = "text-align: center;" })
            .Columns(col =>
            {
                col.Bound(g => g.PersonType).Title("Naplata").Width(100);
                col.Bound(g => g.PersonType).Title("Cijena").Width(100);
                col.Bound(g => g.PersonType).Title("Kapacitet").Width(100);
            })
            );

            columns.Group(group => group
            .Title("Boravišna taksa")
            .HeaderHtmlAttributes(new { style = "text-align: center;" })
            .Columns(col =>
            {
                col.Bound(g => g.PersonType).Title("Iznos").Width(100);
                col.Bound(g => g.PersonType).Title("Naplata BT?").Width(100);
            })
            );
        })
        .Pageable(p => p.Refresh(true))
        .Sortable()
        .Selectable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:40%;" })
        .DataSource(ds => ds
        .Ajax()
        .PageSize(20)
        .Model(m =>
        {
            m.Field(g => g.Id);
            m.Field(g => g.FullName);
            // Add other model fields
        })
        .Read(read => read.Action("Read", "Property"))
        .Update(update => update.Action("Update", "Property"))
        .Destroy(destroy => destroy.Action("Destroy", "Property"))
        ))
</div>