@using Oblak.Models.Api;
@using Oblak.Models.EFI;

@{
    ViewBag.Title = "Agencije";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

    });

</script>

<div style="position:absolute; top:25px; bottom: 15px; left: 15px; right:15px;">
    @(Html.Kendo().Grid<ExcursionDto>()
        .Name("ExcursionsGrid")        
        .Columns(columns =>
        {
            columns.Bound(g => g.AgencyName).Title("Agencija").Width("90%").HtmlAttributes(new { style = "text-align:left;" });
            columns.Bound(g => g.Date).Title("Datum").Format("{0:dd.MM.yyyy}").EditorTemplateName("Date").Width(150).HtmlAttributes(new { style = "text-align:center;" });
            columns.Bound(g => g.VoucherNo).Title("Vaučer").Width(200).HtmlAttributes(new { style = "text-align:left;" });
            columns.Bound(g => g.NoOfPersons).Title("Broj osoba").EditorTemplateName("Integer").Format("{0:n0}").Width(150).HtmlAttributes(new { style = "text-align:right;" });
            columns.Bound(g => g.ExcursionTaxAmount).Title("Iznos takse").Width(150).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" });
            columns.Bound(g => g.ExcursionTaxTotal).Title("Ukupno").Width(150).Format("{0:n2}").HtmlAttributes(new { style = "text-align:right;" });
        })
        .Pageable(p => p.Refresh(true))
        .Sortable()
        .Selectable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:100%;" })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(ds => ds
            .Ajax()
            .PageSize(20)
            .Model(m =>
            {
                m.Id(g => g.Id);
                m.Field(g => g.Id).Editable(false);
                m.Field(g => g.AgencyId);
                m.Field(g => g.AgencyName);
                m.Field(g => g.Date);
                m.Field(g => g.VoucherNo);
                m.Field(g => g.NoOfPersons);
                m.Field(g => g.ExcursionTaxAmount);
                m.Field(g => g.ExcursionTaxTotal);
            })
            .Sort(a => a.Add(b => b.Date).Descending())
            .Read(a => a.Action("Read", "Excursion", new { AgencyId = ViewBag.Agency }))
        )
    )
</div>