/*
    -----------------------------------------------------
    Filter pop-up adjustments
    -----------------------------------------------------
*/

.k-filter-menu-container .k-filter-help-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.k-filter-menu-container .k-widget,
.k-filter-menu-container .k-textbox {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}


/*
    -----------------------------------------------------
    Podešavanja edit/update/delete
    dugmadi grid-a
    -----------------------------------------------------
*/

/* Da ne bježi ovo cancel dugme ulijevo */
.k-grid .k-i-cancel {
    left: 2px !important;
}

<<<<<<< HEAD
.k-command-cell.k-table-td
{
    padding: 3px 6px 3px 8px!important;
}

.k-button.k-grid-edit-command {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0px !important;
    padding: 2px !important;
}

.k-button.k-grid-save-command {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0px !important;
    padding: 2px !important;
}

/* css za delete dugme */
.k-button.k-grid-remove-command {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: 5px !important;
}

.k-button.k-grid-cancel-command {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 25px !important;
    margin: 0px !important;
    padding: 2px !important;
    margin-left: 5px !important;
=======
.k-button.k-button-icontext.k-grid-edit {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 23px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.k-button.k-button-icontext.k-grid-update {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 23px !important;
    margin: 0px !important;
    padding: 0px !important;
}

/* css za delete dugme */
.k-button.k-button-icontext.k-grid-delete {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 23px !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: 4px !important;
}

.k-button.k-button-icontext.k-grid-cancel {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 25px !important;
    height: 23px !important;
    margin: 0px !important;
    padding: 0px !important;
>>>>>>> 579dec8aee400fe2cc7b097420fe5d3e419ae144
}

.k-grid-cancel {
    left: 4px;
    border: none !important;
}

.k-grid-update {
    border: none !important;
}

.k-grid-delete span {
    left: 2px;
}

.k-grid-delete span {
    left: 2px;
}

.k-grid-edit span {
    left: 2px;
}

.k-grid-update span {
    left: 2px;
}


/*
    -----------------------------------------------------
    Fontovi
    -----------------------------------------------------
*/

.k-grid-pager {
    font-size: 11px !important;
}

th.k-header .k-link {
    font-size: 12px !important;
}

.k-grid {
    font-size:0.9rem;
}

/*
    -----------------------------------------------------
    Window header da se smanji visina
    -----------------------------------------------------
*/

<<<<<<< HEAD
/*.k-window-titlebar {
    padding: 0px 16px; 
}*/
=======
.k-window-titlebar {
    padding: 0px 16px; 
}
>>>>>>> 579dec8aee400fe2cc7b097420fe5d3e419ae144


/*
    -----------------------------------------------------
    Ikonice na date-time pickeru da budu centrirane
    -----------------------------------------------------
*/

.k-link-date, .k-link-time {
    padding: 0px!important;
}



/*
    -----------------------------------------------------
    SearchBox na dropdown listi
    -----------------------------------------------------
*/

.k-list-filter {
    padding: 5px;
}

.k-list-filter .k-textbox {
    padding: 0px;
}


label, input {
    font-size:1rem;
}


/*
    -----------------------------------------------------
    DropDown selected value
    -----------------------------------------------------
*/

span[role="option"].k-input 
{
    width:calc(100% - 30px);
<<<<<<< HEAD
}



/*
    -----------------------------------------------------
    Fontovi
    -----------------------------------------------------
*/

.k-grid, .k-window, .k-button {
    font-family: 'Fira Sans', sans-serif;
}


/*
    -----------------------------------------------------
    Pager on footer
    -----------------------------------------------------
*/

.k-pager.k-grid-pager {
    padding: 4px 8px!important;
}

.k-pager-info.k-label {
    padding-top: 4px !important;
}


/*
    -----------------------------------------------------
    Column title bold
    -----------------------------------------------------
*/

span.k-column-title {
    font-weight: bold;
}

/*
    -----------------------------------------------------
    Column group centered
    -----------------------------------------------------
*/

th[colspan] span.k-link {
    justify-content:center!important;
=======
>>>>>>> 579dec8aee400fe2cc7b097420fe5d3e419ae144
}